#include "\masm32\Include\resource.h"

#define IDD_DIALOG		1000
#define IDC_ERROR_DESCRIPTION	1001
#define IDC_NT_STATUS		1002
#define IDC_DOS_ERROR_ID	1003
#define IDC_ALWAYS_ON_TOP	1004

#define IDI_ICON		3000

#define IDC_STATIC   -1



IDD_DIALOG DIALOG DISCARDABLE	10, 10, 278, 94
STYLE DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_MINIMIZEBOX | WS_SYSMENU | WS_VISIBLE | WS_OVERLAPPED
CAPTION "Nt Status To Win32 Error"
FONT 8, "MS Sans Serif"
BEGIN

    GROUPBOX        "", IDC_STATIC, 	2,0,274,76, 0

    LTEXT           "Nt Status (hex):", IDC_STATIC, 	10,10,60,8, SS_LEFT
    EDITTEXT        IDC_NT_STATUS, 	10,22,54,12, ES_AUTOHSCROLL | ES_LEFT

    LTEXT           "Win32 Error (hex):", IDC_STATIC, 	10,42,60,8, SS_LEFT
    EDITTEXT        IDC_DOS_ERROR_ID, 	10,54,54,12, ES_AUTOHSCROLL | ES_LEFT | ES_READONLY

    LTEXT           "Win32 Error Description:", IDC_STATIC, 	74,10,80,8, SS_LEFT
    EDITTEXT        IDC_ERROR_DESCRIPTION, 	74,22,194,45, ES_MULTILINE | ES_READONLY | ES_LEFT | WS_VSCROLL

    CONTROL         "Always On Top", IDC_ALWAYS_ON_TOP, "Button", BS_LEFTTEXT | BS_AUTOCHECKBOX | WS_TABSTOP, 	213,80,62,12

END

IDI_ICON ICON "icon.ico"
