#include "\masm32\Include\resource.h"

#define IDD_MAIN						1000
#define IDC_DRIVE_LETTER				1001
#define IDC_DISK_SIZE					1002
#define IDC_ROOT_DIRECTORY_ENTRIES		1003
#define IDC_SECTORS_PER_CLUSTER		1004
#define IDC_CREATE						1005
#define IDC_REMOVE					1006

#define IDI_ICON						2000

IDD_MAIN DIALOGEX DISCARDABLE 0, 0, 190, 80
STYLE DS_3DLOOK | DS_CENTER | WS_CAPTION | WS_MINIMIZEBOX | WS_VISIBLE | WS_SYSMENU

EXSTYLE WS_EX_WINDOWEDGE

CAPTION "Ramdisk Control Pannel"
FONT 8, "MS Sans Serif"

BEGIN

    GROUPBOX        "Parameters",IDC_STATIC,4,3,120,72

    LTEXT           "Drive Letter:",IDC_STATIC,10,15,40,8
    COMBOBOX        IDC_DRIVE_LETTER,84,12,34,53,CBS_DROPDOWN | CBS_SORT | CBS_UPPERCASE | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Disk Size (Kb):",IDC_STATIC,10,30,52,8
    EDITTEXT        IDC_DISK_SIZE,84,27,34,12,ES_AUTOHSCROLL

    LTEXT           "Root Directory Entries:",IDC_STATIC,10,45,74,8
    EDITTEXT        IDC_ROOT_DIRECTORY_ENTRIES,84,43,34,12,ES_AUTOHSCROLL

    LTEXT           "Sectors per Cluster:",IDC_STATIC,10,60,66,12
    EDITTEXT        IDC_SECTORS_PER_CLUSTER,84,58,34,12,ES_AUTOHSCROLL

    PUSHBUTTON   "&Create",IDC_CREATE,132,12,50,14,0,WS_EX_STATICEDGE
    PUSHBUTTON   "&Remove",IDC_REMOVE,132,27,50,14,WS_DISABLED,WS_EX_STATICEDGE

END

IDI_ICON ICON DISCARDABLE "icon.ico"
