#include "\masm32\Include\resource.h"

#define IDD_PROPERTIES	1000

#define IDC_TREEVIEW	1010
#define IDC_LISTVIEW	1011


#define IDI_ICON		3000
//#define IDI_OBJECT_PROPERTIES   3003

#define IDI_UP			3001
#define IDI_DOWN		3002

#define IDI_BITMAP		3010

#define IDA_MAIN		5000
#define IDM_HELP		5001
#define IDM_REFRESH		5002
#define IDM_EXIT		5003


IDA_MAIN ACCELERATORS DISCARDABLE 
BEGIN
    VK_F1,          IDM_HELP,          VIRTKEY, NOINVERT
    VK_F5,          IDM_REFRESH,       VIRTKEY, NOINVERT
    VK_ESCAPE,      IDM_EXIT,          VIRTKEY, NOINVERT
END

/////////////////////////////////////////////////////////////////////////////
// Main Dialog
/////////////////////////////////////////////////////////////////////////////

IDD_MAIN DIALOGEX DISCARDABLE 0, 0, 320, 320
STYLE DS_3DLOOK | DS_CENTER | WS_CAPTION | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_SIZEBOX | WS_VISIBLE | WS_SYSMENU

EXSTYLE WS_EX_WINDOWEDGE

CAPTION ""
FONT 8, "MS Sans Serif"

BEGIN
//	CONTROL "", IDC_TREEVIEW, "SysTreeView32", WS_CHILD | WS_VISIBLE | WS_BORDER | TVS_HASLINES | TVS_HASBUTTONS | TVS_LINESATROOT | WS_TABSTOP, 0, 0, 0, 0, WS_EX_CLIENTEDGE
//	CONTROL "", IDC_LISTVIEW, "SysListView32", WS_CHILD | WS_VISIBLE | WS_BORDER | LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_TABSTOP, 0, 0, 0, 0, WS_EX_CLIENTEDGE
END


#define IDC_PROP_OBJ_NAME		6001
#define IDS_PROP_OBJ_TYPE_NAME		6002
#define IDS_PROP_OBJ_ATTR		6003

#define IDS_PROP_REFERENCES		6004
#define IDS_PROP_HANDLES		6005

#define IDS_PROP_PAGED_QUOTA		6006
#define IDS_PROP_NONPAGED_QUOTA		6007

#define IDG_PROP_OBJ_SPECIFIC_DETAILS	6008

#define IDS_PROP_CREATION_TIME_LABEL	6009
#define IDS_PROP_CREATION_TIME		6010

#define IDS_PROP_SPECIFIC_INFO1_LABEL	6011
#define IDS_PROP_SPECIFIC_INFO1		6012


IDD_PROPERTIES DIALOG 0, 0, 260, 180
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Object Properties..."
FONT 8, "MS Sans Serif"
BEGIN

   CONTROL "Basic Information", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 4, 6, 240, 56 
   CONTROL "Name:", -1, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 22, 24, 8 
   CONTROL "", IDC_PROP_OBJ_NAME, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 38, 22, 200, 8 
   CONTROL "Type:", -1, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 34, 24, 8 
   CONTROL "", IDS_PROP_OBJ_TYPE_NAME, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 38, 34, 200, 8 
   CONTROL "Attr:", -1, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 47, 24, 8 
   CONTROL "", IDS_PROP_OBJ_ATTR, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 34, 47, 200, 8

   CONTROL "References", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 4, 66, 116, 42
   CONTROL "References:", -1, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 80, 44, 8 
   CONTROL "", IDS_PROP_REFERENCES, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 80, 40, 8 
   CONTROL "Handles:", -1, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 92, 44, 8 
   CONTROL "", IDS_PROP_HANDLES, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 92, 40, 8 

   CONTROL "Quota Charges", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 128, 66, 116, 42
   CONTROL "Paged:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 140, 80, 40, 8 
   CONTROL "", IDS_PROP_PAGED_QUOTA, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 190, 80, 40, 8
   CONTROL "Non-Paged:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 140, 92, 40, 8 
   CONTROL "", IDS_PROP_NONPAGED_QUOTA, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 190, 92, 40, 8 

   CONTROL "Specific Details", IDG_PROP_OBJ_SPECIFIC_DETAILS, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 4, 112, 240, 40
   CONTROL "Creation time:", IDS_PROP_CREATION_TIME_LABEL, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 124, 45, 8
   CONTROL "", IDS_PROP_CREATION_TIME, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 124, 150, 8 

   CONTROL "", IDS_PROP_SPECIFIC_INFO1_LABEL, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 136, 45, 8
   CONTROL "", IDS_PROP_SPECIFIC_INFO1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 136, 180, 8

END

//SECURITY DIALOG 0, 0, 270, 199
//STYLE DS_MODALFRAME | WS_POPUP | U
//CAPTION "Dialog"
//LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
//FONT 8, "MS Sans Serif"
//BEGIN
//   CONTROL "Permissions", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 9, 256, 55 
//   CONTROL 200, -1, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 29, 25, 18, 20 
//   CONTROL "View or set permission information on the selected item(s).", 401, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 66, 24, 130, 20 
//   CONTROL "&Permissions", 127, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 189, 45, 50, 14 
//   CONTROL "Auditing", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 69, 255, 55 
//   CONTROL 201, -1, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 29, 85, 18, 20 
//   CONTROL "View or set auditing information on the selected item(s).", 402, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 66, 84, 130, 20 
//   CONTROL "&Auditing", 128, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 189, 105, 50, 14 
//   CONTROL "Ownership", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 128, 255, 55 
//   CONTROL 201, -1, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 29, 144, 21, 20 
//   CONTROL "View or set ownership of the selected item(s).", 403, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 66, 143, 130, 20 
//   CONTROL "&Ownership", 129, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 189, 164, 50, 14 
//END


IDI_ICON        ICON DISCARDABLE "icon.ico"
//IDI_OBJECT_PROPERTIES ICON DISCARDABLE "ObjectProperties.ico"

IDI_UP          BITMAP DISCARDABLE up.bmp
IDI_DOWN        BITMAP DISCARDABLE dn.bmp

IDI_BITMAP	BITMAP DISCARDABLE "images.bmp"

